<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/logged.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <span>Or you can return logged in the home</span>
    <a href="/home">Home</a>
</body>
</html>