body {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgba(0, 0, 0, 0.945);
}
input{
    border:none;
    border-bottom: 1px solid rgb(238, 153, 17);
    outline:none;
    background-color: inherit;
    color:rgb(238, 153, 17);
    font-size:2rem;
    margin:20px;
}
label {
    color:rgb(238, 153, 17);
    font-size:2.2rem;
    margin:10px;
}
textarea {
    border: 1px solid rgb(238, 153, 17);
    background-color:inherit;
    color:rgb(238, 153, 17);
    font-size:2rem;
    resize:none;
    outline:none;
    margin:15px;
}
button {
    outline:none;
    border:1px solid rgb(238, 153, 17);
    color:rgba(0, 0, 0, 0.945);
    font-size:1.8rem;
    background-color:inherit;
    color:rgb(238, 153, 17);
    padding:10px;
    position:relative;
    left:130px;
    cursor: pointer;
}
button:hover {
    color:rgba(0, 0, 0, 0.945);
    background-color:rgb(238, 153, 17);
}